<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/style.css">
    <title>Sorteio</title>

</head>
<body>
    
    <table id="table">
        <tr>
            <td>id</td>
            <td>Name</td>
            <td>email</td>
        </tr>
    </table>
    <button id="button" onclick="sort()">Sortear agora</button>

    <table id="sorteado">
        <tr>
            <td>nome do sorteado</td>
        </tr>

    <script src="./home.js"></script>
</body>
</html>