<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center title-1"> Cadastro de Usuariorio </h1>
    <form action="/user" method="get">
        <p>Username:<input type="text" name="username" /></p>
        <p>Email:<input type="text" name="email" /></p>
        <button type="submit">Sortear</button>
    </form>
</body>
</html>